body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(236, 233, 233);
}

.container {
  width: 700px;
  margin: 20px auto;
}

.calculator {
  width: 350px;
  background-color: rgb(241, 241, 241);
  margin: 0 auto;
  padding-left: 20px;
  -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
}

.result {
  height: 150px;
}

.history {
  text-align: right;
  height: 20px;
  margin: 0 20px;
  padding-top: 20px;
  font-size: 15px;
  color: #919191;
}

.output {
  text-align: right;
  height: 60px;
  margin: 0 20px;
  padding-top: 20px;
  font-size: 25px;
}

.keyboard {
  height: 400px;
}

.operator,
.number,
.empty {
  width: 60px;
  height: 50px;
  margin: 10px;
  font-weight: bold;
  font-size: 15px;
  outline: none;
  border: 1px solid rgb(175, 175, 175);
  background-color: rgb(241, 241, 241);
  -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
}

.empty {
  border-width: 0;
  background-color: transparent;
  box-shadow: none;
}

.number,
.operator {
  cursor: pointer;
}

button:nth-child(1),
button:nth-child(2),
button:nth-child(3),
button:nth-child(4),
button:nth-child(8),
button:nth-child(12),
button:nth-child(16) {
  font-size: 18px;
  background-color: rgb(219, 218, 218);
}
button:nth-child(20) {
  background-color: rgb(199, 198, 198);
}

@media only screen and (max-width: 768px) {
  .container {
    width: 360px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .calculator {
    width: 340px;
  }
}
